@import url("https://fonts.googleapis.com/css2?family=Noto+Serif:wght@400;600;700&display=swap");

:root {
    --primary-color: #d0e1f9;
    --primary-color-dark: #283655;
    --text-dark: #283655;
    --text-light: #4d648d;
    --extra-light: #f3f4f6;
    --max-width: 1200px;
    --header-color: #e9effdff;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.page-content {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 90px;
}

body {
    font-family: "Noto Serif", serif;
    margin: 0;
    background-image: url("../assets/background2.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    min-height: 100vh;
}


.site-header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
    display: flex;
    align-items: center;
    padding: 12px 40px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.05);
    margin-bottom: 1.5rem;
    background-color: var(--header-color);
}


.logo {
    text-decoration: none;
    display: flex;
    align-items: center;
    gap: 20px;
}

.logo img {
    height: 40px;
    width: auto;
    transform: scale(1.5);
    transform-origin: left center;
}

.logo span {
    font-family: "Noto Serif", serif;
    font-size: 1.4rem;
    font-weight: 700;
    color: var(--primary-color-dark);
}


.login-box {
    width: 500px;
    background: #ffffff;
    padding: 30px 25px;
    margin-top: 0px;
    border-radius: 14px;
    box-shadow: 0 18px 40px rgba(0, 0, 0, 0.15);
}

.login-box h2 {
    text-align: center;
    margin-bottom: 25px;
    color: #283655;
}



.login-box label {
    font-size: 14px;
    color: #4d648d;
}

.login-box input {
    font-family: "Noto Serif", serif;
    width: 100%;
    padding: 10px 12px;
    margin-top: 6px;
    border-radius: 6px;
    border: 1px solid #ccc;
    outline: none;
    transition: 0.3s;
    font-size: 1rem;
}

.login-box input:focus {
    border-color: #4d648d;
    box-shadow: 0 0 0 2px rgba(77, 100, 141, 0.15);
}


.login-box button {
    font-family: "Noto Serif", serif;
    width: 100%;
    margin-top: 20px;
    padding: 11px;
    background: #283655;
    color: #fff;
    border: none;
    border-radius: 8px;
    font-size: 1rem;
    font-weight: 600;
    cursor: pointer;
    transition: 0.3s;
}

.login-box button:hover {
    background: var(--primary-color);
    color: var(--text-dark);
    transform: translateY(-2px);
}

.eye-icon {
  position: absolute;
  top: 50%;
  right: 12px;
  transform: translateY(-50%);
  cursor: pointer;
  font-size: 18px;
  user-select: none;
  color: #1e6bd6;           /* xanh dương */
  transition: 0.25s;
}

.eye-icon:hover {
  color: #0d47a1;           /* xanh đậm khi hover */
}

.password-field {
  position: relative;
}

.password-field input {
  width: 100%;
  padding: 10px 40px 10px 12px;
}
