@import url("https://fonts.googleapis.com/css2?family=Noto+Serif:wght@400;600;700&display=swap");

:root {
  --primary-color: #d0e1f9;
  --primary-color-dark: #283655;
  --text-dark: #283655;
  --text-light: #4d648d;
  --extra-light: #f3f4f6;
  --max-width: 1200px;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Noto Serif", serif;
  background-color: var(--extra-light);
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

h1 {
  background: linear-gradient(rgba(178, 201, 229, 0.5), #58a6cd);
  color: var(--extra-light);
  padding: 25px;
  border-radius: 15px;
  text-align: center;
  font-size: 2rem;
}

h2 {
  color: var(--text-dark);
  text-align: center;
  padding: 20px 20px;
  border-bottom: 2px solid var(--primary-color);
  font-size: 1.4rem;
}

.payment {
  max-width: 1000px;
  display: flex;
  grid-template-columns: 1fr 0.8fr;
  gap: 25px;
  align-items: start;
  justify-content: center;
  text-align: left;
  margin: 0 auto;
}

.flight,
.services {
  background-color: #fff;
  border: 1px solid #dfe3e8;
  border-radius: 10px;
  padding: 20px 25px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.05);
}

.flight h3 {
  color: var(--text-dark);
  border-bottom: 2px solid #00469b;
  padding-bottom: 5px;
  margin: 15px 0 30px;
}

.detail-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 6px 0;
  padding-bottom: 4px;
  border-bottom: 1px dotted #e0e0e0;
}

.label, .info, .price{
  color: var(--text-dark);
}

.services .detail-row:last-child {
  border: none;
}

#pay-button {
  display: block;
  margin: 40px auto 60px auto;
  background-color: var(--primary-color-dark);
  color: white;
  border: none;
  border-radius: 6px;
  padding: 14px 28px;
  font-size: 1.1em;
  cursor: pointer;
  transition: all 0.3s ease;
  font-family: "Noto Serif", sans-serif;
}

#pay-button:hover {
  background-color: var(--primary-color);
  color: var(--text-dark);
}

.select-method label {
  display: flex;
  align-items: center;
  gap: 10px;
  background-color: #f8f9fc;
  padding: 12px 15px;
  border-radius: 8px;
  border: 1px solid #e0e4f0;
  transition: all 0.3s ease;
  cursor: pointer;
  font-size: 1rem;
  color: var(--text-dark);
}

.select-method label:hover {
  background-color: #e8f0fe;
  border-color: var(--primary-color-dark);
}

.select-method input[type="radio"] {
  accent-color: var(--primary-color-dark); /* tô màu nút radio */
  transform: scale(1.2);
  cursor: pointer;
}