@import url("https://fonts.googleapis.com/css2?family=Noto+Serif:wght@400;600;700&display=swap");

:root {
  --seat-size: 40px;
  --gap: 8px;
  --aisle-w: 80px;
  --exit-width: 70px;
  --row-number-w: 30px;
  --primary-color: #d0e1f9;
  --primary-color-dark: #283655;
  --text-dark: #283655;
  --text-light: #4d648d;
  --extra-light: #f3f4f6;
  --max-width: 1200px;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background: var(--extra-light);
  text-align: center;
  font-family: "Noto Serif", sans-serif;
  color: var(--text-dark);
}

h1 {
  background: linear-gradient(rgba(178, 201, 229, 0.5),
      #58a6cd);
  backdrop-filter: blur(6px);
  color: var(--extra-light);
  padding: 25px;
  border-radius: 15px;
  text-align: center;
  font-size: 1.8rem;
}

.note {
  border-radius: 15px;
  text-align: center;
  background: rgba(255, 255, 255, 0.6);
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
  padding: 16px 20px;
  margin: 20px auto;
  width: fit-content;
  backdrop-filter: blur(6px);
  color: var(--text-dark);
  font-size: 16px;
}

#seat-map {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
}

.row {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: var(--gap);
  margin: 5px 0;
}

.row-number {
  width: var(--row-number-w);
  text-align: right;
  font-weight: bold;
  color: var(--bg-light);
  margin-right: 6px;
}

.seat-group {
  display: flex;
  gap: var(--gap);
}

.aisle {
  width: var(--aisle-w);
}

.seat {
  width: 40px;
  height: 40px;
  background-color: #cfe2ff;
  text-align: center;
  line-height: 40px;
  border-radius: 6px;
  font-weight: bold;
  cursor: pointer;
  transition: 0.3s;
  border: 2px solid #0c2a50;
}

.seat.available:hover {
  background-color: #ffffff;
}

.seat.booked {
  background-color: #f6b3c8;
  cursor: not-allowed;
}

.seat.selected {
  background-color: #f2e85f;
  color: #000;
}


.exit-row {
  position: relative;
  height: 40px;
  width: 100%;
  margin: 12px 0;
}

.exit {
  position: absolute;
  top: 0;
  width: var(--exit-width);
  background-color: #ffffff;
  color: var(--text-dark);
  font-weight: bold;
  text-align: center;
  line-height: 35px;
  border-radius: 6px;
}

.exit-left {
  left: 0px;
}

.exit-right {
  right: 0px;
}

.plane {
  background-color: #006989;
  border-radius: 120px / 60px;
  padding: 24px 20px;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.08);
  width: 450px;
  margin: 0 auto;
  left: 50px;
  border: 2px solid #0c2a50;
}

.plane-tail,
.plane-nose {
  width: 100%;
  height: 56px;
  border-radius: 20px;
  background: linear-gradient(180deg, #ffffff, #f3f7ff);
  margin-top: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 2px solid #0c2a50;
}

.restroom {
  display: flex;
  gap: 8px;
  align-items: center;
  color: var(--text-dark);
}


.cabin {
  width: 100%;
  background: #0d47a1;
  border-radius: 18px;
  padding: 14px 12px 18px;
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.6);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.controls {
  display: flex;
  gap: 12px;
  align-items: center;
  justify-content: center;
  margin-top: 12px
}

button {
  background: #ffffff;
  color: var(--text-dark);
  padding: 10px 14px;
  border-radius: 8px;
  cursor: pointer;
  margin-top: 20px;
  margin-bottom: 5px;
  font-family: "Noto Serif", sans-serif;
  font-size: 16px;
  border: 2px solid #0c2a50;
}

button:hover {
  background-color: var(--primary-color);
}

.seat-order {
  display: flex;
  justify-content: center;
  gap: 20px;
  margin-top: 20px;
}

.seat-status {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  font-weight: 600;
  color: var(--extra-light);
  font-size: 15px;
}

.status {
  width: 24px;
  height: 24px;
  border-radius: 6px;
  border: 1px solid #aaa;
  flex-shrink: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.status.available {
  background-color: #cfe2ff;
}

.status.selected {
  background-color: #f2e85f;
}

.status.booked {
  background-color: #f6b3c8;
}


/* responsive */
@media (max-width:520px) {
  :root {
    --seat-size: 36px;
    --aisle-w: 64px;
    --exit-width: 72px
  }

  .plane-wrap {
    width: 100%
  }

  .row-number {
    width: 30px
  }
}