<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <nav class="sidebar">
      <h2 class="sidebar-logo">Lotus Travel</h2>
      <ul class="sidebar-nav">
        <li>
          <a href="index.html" class="active"
            ><i class="fas fa-chart-pie"></i> Dashboard</a
          >
        </li>
        <li>
          <a href="booking.html"
            ><i class="fas fa-calendar-check"></i> Booking</a
          >
        </li>
        <li>
          <a href="flight-tracking.html"
            ><i class="fas fa-plane"></i> Flight Tracking</a
          >
        </li>
        <li>
          <a href="service.html"
            ><i class="fas fa-concierge-bell"></i> Service</a
          >
        </li>
        <li>
          <a href="feedback.html"><i class="fas fa-comments"></i> Feedback</a>
        </li>
        <li>
          <a href="promotion.html"><i class="fas fa-gift"></i> Promotion</a>
        </li>
        <li>
          <a href="managers.html"><i class="fas fa-users"></i> Managers</a>
        </li>
        <li>
          <a href="#"><i class="fas fa-sign-out-alt"></i> Log out</a>
        </li>
      </ul>
    </nav>
  </body>
</html>
