@import url("https://fonts.googleapis.com/css2?family=Noto+Serif:wght@400;600;700&display=swap");

:root {
    --primary-color: #d0e1f9;
    --primary-color-dark: #283655;
    --text-dark: #283655;
    --text-light: #4d648d;
    --extra-light: #f3f4f6;
    --max-width: 1200px;
    --header-color: #e9effdff;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.page-content {
    min-height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 90px;
}

body {
    font-family: "Noto Serif", serif;
    margin: 0;
    min-height: 100vh;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    /* overflow: hidden; */
}

.checkin-wrapper {
    min-height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    padding-top: 64px;
    overflow: hidden;
}


.checkin-container {
    align-self: center;
    width: 100vw;
    max-width: 600px;
    padding: 10px 28px;
    box-shadow: 0 10px 30px rgba(67, 109, 199, 0.08);
    background-color: var(--extra-light);
    border: 2px solid var(--primary-color-dark);
    border-radius: 8px;
    display: flex;
    flex-direction: column;
}


.checkin-container h2 {
    font-size: 1.4rem;
    color: var(--text-dark);
    text-align: center;
    padding-bottom: 14px;
    margin-bottom: 20px;
    border-bottom: 2px solid var(--primary-color);
}


.boarding-pass h3,
.boarding-pass-info h3 {
    font-size: 1.2rem;
    color: var(--primary-color-dark);
    text-align: center;
    margin-bottom: 16px;
}

.boarding-pass p,
.boarding-pass-info p {
    font-size: 0.95rem;
    color: var(--text-dark);
    display: flex;
    justify-content: space-between;
    padding: 6px 0;
    border-bottom: 1px dotted #ccd6e0;
}

.boarding-pass p:last-of-type,
.boarding-pass-info p:last-of-type {
    border-bottom: none;
}

.boarding-pass strong,
.boarding-pass-info strong {
    font-weight: 600;
    color: var(--text-dark);
}

.boarding-pass hr {
    border: none;
    border-top: 1px dashed var(--primary-color-dark);
    margin: 14px 0;
}

.site-header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
    display: flex;
    align-items: center;
    padding: 12px 40px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.05);
    margin-bottom: 1.5rem;
    background-color: var(--header-color);
}


.logo {
    text-decoration: none;
    display: flex;
    align-items: center;
    gap: 20px;
}

.logo img {
    height: 40px;
    width: auto;
    transform: scale(1.5);
    transform-origin: left center;
}

.logo span {
    font-family: "Noto Serif", serif;
    font-size: 1.4rem;
    font-weight: 700;
    color: var(--primary-color-dark);
}


.checkin-options {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.checkin-options button {
    font-family: "Noto Serif", serif;
    padding: 14px 20px;
    font-size: 1rem;
    border-radius: 12px;
    border: none;
    background: var(--primary-color-dark);
    color: #fff;
    cursor: pointer;
    /* box-shadow: 0 4px 12px rgba(0, 0, 0, 0.08); */
    transition: 0.3s;
    flex: unset;
    width: 48%;
    margin-top: -10px;
}


.checkin-options button:hover {
    background: var(--primary-color);
    color: var(--text-dark);
    transform: translateY(-2px);
}

.checkin-options button.selected {
    background: var(--primary-color);
    color: var(--text-dark);
    border: 2px solid var(--primary-color-dark);
    cursor: default;
    /* box-shadow: 0 2px 6px rgba(103, 61, 218, 0.05); */
}

.boarding-pass {
    /* background: #fff; */
    border: 2px solid var(--primary-color);
    border-radius: 16px;
    padding: 20px;
    margin: 16px 0;
    box-shadow: 0 12px 30px rgba(27, 58, 111, 0.12);
    position: relative;

}

.boarding-pass hr {
    border: none;
    border-top: 2px dashed var(--primary-color-dark);
    margin: 12px 0;
}

.boarding-pass p {
    display: flex;
    justify-content: space-between;
    margin: 6px 0;
}

.btn-confirm {
    width: 100%;
    padding: 14px;
    margin-top: 16px;
    border-radius: 12px;
    border: none;
    /* font-weight: 600; */
    font-size: 1rem;
    color: var(--extra-light);
    background: var(--primary-color-dark);
    cursor: pointer;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.08);
    transition: 0.3s;
}

.btn-confirm:hover {
    background-color: var(--primary-color);
    color: var(--text-dark);
    transform: translateY(-2px);
}

.cf-flights p {
    display: flex;
    justify-content: space-between;
    font-size: 0.95rem;
    padding: 6px 0;
    border-bottom: 1px dotted #ccd6e0;
    color: var(--text-dark);
}

.cf-flights p strong {
    color: var(--text-dark);
}